*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content{
  min-height: 80vh;

}

.navbar{
  background: #978e8eef !important;
}

.registerPage{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: light;
  

}

/* Transaction Home style */
.filters{
  display: flex;
  justify-content: space-between;
  align-items:center;
  box-shadow: 0 0 5px grey;
  padding: 15px 20px;
}